force-app/main/default/flows/Green_Project_Campaign_Lead_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Single_Lead</name>
        <label>Assign Single Lead</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>singleLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleAd.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fake Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCampaignMember</name>
        <label>assignCampaignMember</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>single_campaing_member.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_campaing_member.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_campaing_member.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSingleAd</name>
        <label>assignSingleAd</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Single_Lead</name>
        <label>Copy 1 of Assign Single Lead</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>singleLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleAd.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fake Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assignSingleAd</name>
        <label>Copy 1 of assignSingleAd</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Ad</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Check</name>
        <label>Campaign Check</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_assignSingleAd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSingleAd</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Green Project Campaign Lead Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Green Project Campaign Lead Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Ad</name>
        <label>Copy 1 of Create Ad</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Copy_1_of_contact_form</targetReference>
        </connector>
        <inputReference>singleAd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Lead</name>
        <label>Copy 1 of Create Lead</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Copy_1_of_End_Form</targetReference>
        </connector>
        <inputReference>singleLead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ad</name>
        <label>Create Ad</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>contactform</targetReference>
        </connector>
        <inputReference>singleAd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>End_Form</targetReference>
        </connector>
        <inputReference>single_campaing_member</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>assignCampaignMember</targetReference>
        </connector>
        <inputReference>singleLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>contactform</name>
        <label>contact form</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Single_Lead</targetReference>
        </connector>
        <fields>
            <name>display_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Contact Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>testUTMData</name>
            <fieldText>&lt;p&gt;{!utm_campaign}&lt;/p&gt;&lt;p&gt;{!utm_content}&lt;/p&gt;&lt;p&gt;{!utm_id}&lt;/p&gt;&lt;p&gt;{!utm_medium}&lt;/p&gt;&lt;p&gt;{!utm_referer}&lt;/p&gt;&lt;p&gt;{!utm_source}&lt;/p&gt;&lt;p&gt;{!utm_term}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_contact_form</name>
        <label>Copy 1 of contact form</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Single_Lead</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_display_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Contact Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_testUTMData</name>
            <fieldText>&lt;p&gt;{!utm_campaign}&lt;/p&gt;&lt;p&gt;{!utm_content}&lt;/p&gt;&lt;p&gt;{!utm_id}&lt;/p&gt;&lt;p&gt;{!utm_medium}&lt;/p&gt;&lt;p&gt;{!utm_referer}&lt;/p&gt;&lt;p&gt;{!utm_source}&lt;/p&gt;&lt;p&gt;{!utm_term}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_End_Form</name>
        <label>Copy 1 of End Form</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_EndTextDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you for your request. You will receive an email soon.     (No campaign)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;CW Team&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Form</name>
        <label>End Form</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndTextDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you for your request. You will receive an email soon.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;CW Team&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>single_campaing_member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>singleAd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ad__c</objectType>
    </variables>
    <variables>
        <name>singleLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>utm_campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_referer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
